@font-face {
  font-family: "Graftyne";
  src: url("../fonts/GraftyneDisplay-ExtraLight.otf");
}

:root {
  --white: #f9f9f9;
  --black: #171717;
  text-decoration: none;
  font-family: "Graftyne";
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--white);
}

header {
  background-color: var(--white);
  padding: 0px 5vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7vh;
  position: sticky;
  top: 0;
}

header::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 95%;
  border-bottom: 1px solid black;
  transform: translateX(-50%);
}

header h2 {
  cursor: default;
}

nav {
  display: flex;
  gap: 5vh;
}

header button {
  color: var(--black);
  background-color: var(--white);
  border: none;
  font-family: "Graftyne";
  font-size: 1.3rem;
}

header button:hover {
  text-decoration: underline;
}

.content {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20vw;
}

@media screen and (max-width: 1600px) {
  .content {
    padding: 0 13vw;
  }
}

.main {
  gap: 1.5vw;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 95vh;
}

.left-main {
  box-sizing: border-box;
  width: 35%;
  height: 100%;
}

.right-main {
  box-sizing: border-box;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.right-top {
  width: 100%;
  height: 40%;
  display: flex;
  gap: 1.5vw;
}

.top-right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 3vh;
}

.top-tittle {
  margin: 0;
}

.top-text {
  color: #595959;
  font-size: 1.3rem;
  margin: 0;
}

.top-button {
  color: var(--white);
  width: 11vw;
  height: 7vh;
  background-color: #da9858;
  border: none;
  border-radius: 100px;
}

.top-button:hover {
  text-decoration: underline;
}

.top-left {
  width: 60%;
  height: 100%;
}

.right-bottom {
  width: 100%;
  height: 60%;
}

.desert-img,
.food-img,
.drink-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.place {
  box-sizing: border-box;
  width: 100%;
  height: 95vh;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}

.place-text-container {
  height: 100%;
  width: 35%;
  gap: 1.8vw;
  padding-top: 7vh;
  display: flex;
  flex-direction: column;
}

.place-images {
  box-sizing: border-box;
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  align-items: flex-end;
}

.place-small-img {
  border-radius: 5px;
  width: 50%;
  height: 70%;
}

.place-big-img {
  height: 100%;
  border-radius: 5px;
  width: 50%;
}

.place-tittle {
  font-size: 4rem;
  margin: 0;
}

.place-text {
  font-size: 1.1rem;
  margin: 0;
  color: #595959;
}

strong {
  color: var(--black);
}

.place-button {
  width: 10vw;
  height: 6vh;
  border-radius: 400px;
  background-color: var(--white);
  border: 1px solid black;
}

.place-button:hover {
  text-decoration: underline;
}
